* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: "JetBrains Mono Nerd Font", Roboto, Helvetica, Arial, sans-serif;
    font-size: 15px;/*20px;*/
}

window#waybar {
    background-color: rgba(255, 126, 246, 0.1); /*#FF7EF6*/
    border: 0px solid rgba(255, 255, 255, 1);
    border-radius: 12px;
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 1;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    /*box-shadow: inset 0 -3px transparent;*/
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 50%;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    background: inherit;
}

/* you can set a style on hover for any module like this */
#pulseaudio:hover {
    background-color: rgba(255, 162, 240, 0.743);
}

#workspaces button {
    padding: 0 9px 1px 9px;
    margin: 2px 5px;
    /*border-radius: 50%;*/
    background-color: rgba(232, 162, 255, 0.4);
    color: #ffffff;
}

#workspaces button:hover {
    /*background-color: rgba(185, 72, 255, 0.7);*/
    background-color: rgba(142, 98, 155, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.3); /* se si usa una grandezza di bordo piu' grande (diminuendo il padding destra e sinistra fino a che la somma di padding+bordo faccia 9) l'animazione diventa brutta */
    padding: 0 8px 1px 8px;
}

#workspaces button.focused, #workspaces button.active {
    background-color: #64727D;
    /*box-shadow: inset 0 -3px #ffffff;*/
}

#workspaces button.active {
    background-color: rgba(255, 162, 240, 0.743);
    border: 3px dashed #FFFFFF;
    padding: 0 6px 1px 6px;
    /*box-shadow: inset 0 -3px #ffffff;*/
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd,
#custom-file,
#custom-text,
#custom-app_launcher,
#custom-power,
#custom-terminal,
#custom-browser{
    padding: 0 10px;
    margin: 5px 0px;
    color: #ffffff;
    border-radius: 15px;
}

#window,
#workspaces {
    margin: 0 20px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    background-color: rgba(255, 130, 245, 0.4);
}

/*
#battery {
    background-color: #ffffff;
    color: #000000;
}


#battery.charging, #battery.plugged {
    color: #ffffff;
    background-color: #26A65B;
}
*/

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#power-profiles-daemon {
    padding-right: 15px;
}

#power-profiles-daemon.performance {
    background-color: #f53c3c;
    color: #ffffff;
}

#power-profiles-daemon.balanced {
    background-color: #2980b9;
    color: #ffffff;
}

#power-profiles-daemon.power-saver {
    background-color: #2ecc71;
    color: #000000;
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: rgba(255, 130, 245, 0.4);
    padding-right: 16px;
}

#memory {
    background-color: rgba(255, 130, 245, 0.4);
    padding-right: 16px;
}

#disk {
    background-color: rgba(255, 130, 245, 0.4);
    padding-right: 16px;
}

#backlight {
    background-color: #90b1b1;
}

#network {
    background-color: rgba(255, 130, 245, 0.4);
}

#network.disconnected {
    background-color: #f53c3c;
}

#pulseaudio {
    background-color: rgba(255, 130, 245, 0.4);
    padding-right: 12px;
}

#pulseaudio.muted {
    background-color: rgba(255, 130, 245, 0.4);
    color: #2dff81;
}

#wireplumber {
    background-color: #fff0f5;
    color: #000000;
}

#wireplumber.muted {
    background-color: #f53c3c;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
    background-color: rgba(255, 130, 245, 0.4);
    padding-right: 11px;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
    background-color: rgba(255, 130, 245, 0.4);
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    background-color: rgba(255, 130, 245, 0.4);
    padding-right: 21px;
}

#idle_inhibitor.activated {
    background-color: rgba(255, 130, 245, 0.4);
    padding-right: 20px;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: white;
}

#privacy-item.screenshare {
    background-color: #cf5700;
}

#privacy-item.audio-in {
    background-color: #1ca000;
}

#privacy-item.audio-out {
    background-color: #0069d4;
}

#custom-file {
    background-color: rgba(255, 130, 245, 0.4);
}

#custom-text {
    background-color: rgba(255, 130, 245, 0.4);
}

#custom-terminal {
    background-color: rgba(255, 130, 245, 0.4);
    padding: 0 11 0 9px;
}

#custom-browser {
    background-color: rgba(255, 130, 245, 0.4);
}

#custom-app_launcher {
    background-color: rgb(255, 255, 255);
    margin-left: 5px;
}

#custom-power {
    background-color: rgba(255, 130, 245, 0.4);
    padding-right: 3px;
    margin-right: 5px;
}