.config/VSCodium/
.config/spotify/
.config/org.keshavnrj.ubuntu/
.config/obs-studio/
.config/vlc/
.config/ghb/
.config/dconf/
.config/zed/
.config/spotdl/
.config/session/
.config/vivaldi/
.config/thunar/
.config/xfce4/
.config/strawberry/
.config/gcolor/
.config/gpick/
.config/Code - OSS/
.config/GitHub Desktop Plus/
.config/gh/
.config/GitHub Desktop/
.config/OpenSCAD/
.config/discord/
.config/micro/
.config/gtk-3.0/
.config/procps/
.config/fontforge/
.config/wireshark/
.config/htop/
.config/FreeCAD/
.config/gtk-4.0/
.config/Electron/
.config/ghidra/
.config/mpd/
.config/systemd/
.config/menus/
.config/go/
.config/mozilla/
.config/gedit/
.config/codeblocks/
.config/yay/
.config/kate/
.config/pavucontrol.ini
.config/gwenviewrc
.config/easyeffectsrc
.config/QtProject.conf
.config/dolphinrc
.config/kiorc
.config/user-dirs.dirs
.config/baloofileinformationrc
.config/trashrc
.config/katerc
.config/user-dirs.locale
.config/fres
.config/kdeglobals
.config/ktrashrc
.config/katevirc
.config/kate-externaltoolspluginrc
.config/filetypesrc
.config/kservicemenurc
.config/ktrashrc